@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
  background: url(assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fjalla One', sans-serif;
}

a{
  text-decoration: none;
}

button {
  color:#040404;
  background: #613eee;
  width: 220px;
  height: 50px;
  border: 2px solid #100053;
  position:relative;
  
  padding:1em;
  transition:all 0.4s ease-in-out;
  font-weight:900;
  font-size: .92rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 1.6em auto;
}

button:before, button:after{
  content:'';
  position:absolute;
  border-color:#454545;
  box-sizing:border-box;
  border-style:solid;
  width:1em;height:1em;
  transition:all 0.4s ease-in-out
}

button:before {
  top:-6px;left:-6px;
  border-width:2px 0 0 2px;
}

button:after {
  bottom:-6px;
  right:-6px;
  border-width:0 2px 2px 0;
}

button:hover:before, button:hover:after {
  width:calc(100% + 12px);
  height:calc(100% + 12px);
  border-color:#100053;
}

button:hover {
  color:rgb(174, 159, 0);
  background-color:#100053;
  border-color:rgb(174, 159, 0);
}

.pannello {
  position: absolute;
  text-align:center;
  display: block;
  /* white-space: nowrap;                  */
  left: 50%;                          
  top: 56.9vh;                           
  transform: translate(-50%,-50%);      
}

h1{
    letter-spacing: .29em;
    text-align: center;
    display: block;
    margin-top: -100px;
    font-size: 2em;
    color: #100053;
    cursor: help;
}

h4{
  margin-top: 5px;
}

.info{
  
  text-align: center;
}

